body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background: #ccc;
}

#main {
  flex: 1;
}

footer {
  background: #31a132;
}
